h2 {
    margin: 60px 0 40px 0;
}

.box {
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #fff;
}

.cart-heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    p {
        font-size: 14px;
    }
}

.cart-list {
    margin-bottom: 200px;
}

.wrap-cart {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .left {
        width: 70%;
        margin-right: 20px;
    }
    .right {
        flex: 1;
    }
}

.col-1,
.col-2,
.col-3,
.col-4 {
    margin-right: 20px;
}

.col-1 {
    width: 220px;
    label {
        display: flex;
        align-items: center;
    }
}

.col-2,
.col-4 {
    width: 15%;
}

.col-3 {
    width: 20%;
}

.col-5 {
    flex: 1;
    text-align: right;
    span {
        cursor: pointer;
    }
}

.block {
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 20px;
    .block-inner {
        padding: 20px;
    }
}

.wrap-ctm-info {
    .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        span {
            font-size: 16px;
            color: #808089;
        }
        a {
            font-size: 14px;
            color: #0b74e5;
        }
    }
    .ctm-info {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
        var {
            font-style: normal;
            font-weight: normal;
            color: #ccc;
            margin: 0 5px;
        }
    }
    .address {
        font-size: 15px;
        line-height: 1.4;
        color: #808089;
        white-space: pre-line;
    }
}

.coupon-txt {
    display: flex;
    align-items: center;
    color: #0b74e5;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
    img {
        margin-right: 10px;
    }
}

.price-items {
    border-bottom: 1px solid #f4f4f4;
    p {
        display: flex;
        align-items: center;
        color: #333;
        font-weight: 300;
        font-size: 15px;
        strong {
            margin-left: auto;
            font-weight: 500;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.total {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    span {
        margin-left: auto;
        font-weight: 500;
        color: #ff424e;
        &.sm {
            font-size: 15px;
        }
        &.lg {
            font-size: 18px;
        }
    }
}

.cart-btn {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 12px 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #ff424e;
    &:hover {
        opacity: 0.8;
    }
}

.empty {
    margin-bottom: 320px;
    p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    a {
        font-size: 15px;
        display: inline-block;
        color: #fff;
        padding: 10px 30px;
        border-radius: 4px;
        background-color: #4a4a4b;
    }
}

.couponModal {
    width: 480px;
    min-height: 500px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.wrap-coupon-modal {
    .header {
        font-weight: 500;
        font-size: 16px;
        position: absolute;
        top: 20px;
        left: 2rem;
    }
    .wrap-coupon {
        margin: 20px 0;
        display: flex;
        align-items: center;
        .wrap-ip {
            position: relative;
            flex: 1;
            margin-right: 20px;
            img {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            input {
                height: 36px;
                width: 100%;
                line-height: 1;
                border-radius: 4px;
                border: 1px solid #c4c4cf;
                padding-left: 35px;
                font-size: 14px;
            }
        }
        button {
            height: 36px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 15px;
            border-radius: 4px;
            color: #fff;
            background-color: #0b74e5;
            &:disabled {
                pointer-events: none;
                background: #ebebf0;
                border: 1px solid #dddde3;
                color: #c4c4cf;
            }
        }
    }
    .body-scroll{
        overflow-y: scroll;
        max-height: 480px;
        margin: 0 -2rem;
        padding: 10px 2rem 0 2rem;
    }
    .coupon-list-wrapper {
        .group-header {
            margin-bottom: 20px;
        }
        .coupon-bg {
            width: 100%;
            height: 128px;
            filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 3px);
            position: relative;
            img{
                height: 100%;
            }
            &.disabled{
                .left img{
                    filter: grayscale(1);
                    opacity: 0.6;
                }
                .sale{
                    color: #787878;
                }
            }
        }
        .coupon-content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            .left{
                width: 124px;
                padding: 8px;
                img{
                    border-radius: 10px;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1 1 0;
                padding: 15px 12px;
                p{
                    color: #787878;
                    font-size: 13px;
                }
            }
        }
    }
}
.coupon-info{
    .sale{
        font-size: 16px;
        line-height: 1;
        margin-bottom: 6px;
    }
}
.coupon-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .apply{
        background-color: #017fff;
        padding: 8px 12px;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        &:hover{
            opacity: 0.8;
        }
    }
}

.custom-toast{
    background-color: red;
}

// Custom checkbox
.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .14);
    background-color: #fff;
    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input:checked~.checkmark {
    background-color: #182e70;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}