.cart-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    .img {
        margin-right: 10px;
        img {
            max-width: 40px;
        }
    }
    .wrap-name {
        flex: 1;
        .name {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
            &:hover {
                color: #2f80ed;
            }
        }
        .color {
            display: block;
            color: #2f80ed;
            font-size: 13px;
        }
    }
    .price {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        width: 90px;
        del {
            color: #999;
            font-size: 12px;
            display: block;
        }
    }
    .totalPrice {
        font-size: 14px;
        font-weight: 500;
        color: #ff424e;
    }
    .remove {
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        margin-left: auto;
    }
    .wrap-quantity {
        display: flex;
        height: 32px;
        .input,
        .quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            background-color: #fff;
            font-size: 13px;
            height: 32px;
        }
        .quantity {
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            width: 35px;
        }
        .input {
            width: 32px;
            cursor: pointer;
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.col-1,
.col-2,
.col-3,
.col-4 {
    margin-right: 20px;
}

.col-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 220px;
}

.col-2,
.col-4 {
    width: 15%;
}

.col-3 {
    width: 20%;
}

.col-5 {
    flex: 1;
    text-align: right;
}

// Custom checkbox
.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .14);
    background-color: #fff;
    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input:checked~.checkmark {
    background-color: #182e70;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}