.wrap-order{
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #efefef;
}
.checked{
    text-align: center;
    margin-bottom: 20px;
    span{
        font-size: 70px;
        margin-bottom: 5px;
        color: #2f80ed;
    }
}
.confirm{
    .txt{
        text-align: center;
        margin-bottom: 50px;
        .shopping{
            display: inline-block;
            margin-top: 30px;
            color: #fff;
            font-size: 15px;
            padding: 10px 30px;
            border-radius: 4px;
            background-color: #4580ed;
        }
    }
    p{
        line-height: 1.6;
        font-size: 15px;
        &.lg{
            font-size: 20px;
            font-weight: 500;
        }
        a{
            color: #2f80ed;
        }
    }
}
.detail{
    width: 80%;
    margin: 0 auto;
    .lg{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .group{
        margin-bottom: 30px;
        .heading{
            font-size: 15px;
            background-color: #ececec;
            padding: 10px 15px;
        }
        .info{
            font-size: 15px;
            padding: 15px;
            border: 1px solid #ececec;
            p{
                display: flex;
                align-items: center;
                line-height: 1.6;
                color: #242424;
                &:not(:last-of-type){
                    margin-bottom: 15px;
                }
                .lbl{
                    font-weight: 500;
                    margin-right: 5px;
                }
                .txt{
                    color: rgba(0, 0, 0, 0.65);
                    .success{
                        color: #fda223;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
.product-list{
    width: 100%;
    color: #424242;
    display: table;
    font-size: 13px;
    background: #ffffff;
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
    tr{
        display: table-row;
        padding: 10px;
    }
    thead tr th{
        display: table-cell;
        padding: 20px 15px;
        min-width: 100px;
        color: #787878;
        font-size: 15px;
        text-align: left;
        border-bottom: 1px solid #f4f4f4;
        &:last-child{
            text-align: right;
            min-width: 160px;
        }
    }
    tbody tr td{
        border: none;
        position: relative;
        display: table-cell;
        padding: 20px 15px;
        font-size: 14px;
        color: #242424;
        vertical-align: top;
        min-width: 100px;
        &:last-child{
            text-align: right;
            min-width: 160px;
        }
    }
    tfoot tr td{
        text-align: right;
        display: table-cell;
        padding: 5px 20px;
        max-width: 550px;
        min-width: 125px;
        color: #242424;
        span{
            color: #787878;
        }
        .sum{
            color: #ff3b27;
            font-size: 18px;
        }
    }
    .product{
        display: flex;
        img{
            max-width: 60px;
            margin-right: 5px;
        }
        a{
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
            color: #242424;
        }
        .review{
            display: inline-block;
            cursor: pointer;
            font-size: 12px;
            line-height: 1;
            color: #189eff;
            border: 1px solid #189eff;
            padding: 5px 15px;
            border-radius: 4px;
        }
    }
}