.footer {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    .wrap-footer {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .menu {
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
            a {
                color: #333;
                font-size: 15px;
            }
        }
    }
    .social {
        margin-left: auto;
        img {
            width: 130px;
        }
    }
    .copyright {
        font-size: 12px;
        color: #333;
        text-align: center;
        background-color: #f1f1f1;
        padding: 20px 0;
    }
}