.header {
    background-color: rgba(0, 25, 96, 0.9);
    // #1a94ff 
}

.wrap-header {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    margin-right: 20px;
    a {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
    span {
        display: flex;
        margin-right: 5px;
        font-size: 40px;
    }
}

.wrap-menu {
    position: fixed;
    z-index: 11;
    height: 100%;
    width: 70%;
    top: 0;
    left: -100%;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    box-shadow: 2px 0 2px 2px rgba(217, 217, 217, 0.6);
    &.active {
        left: 0;
    }
    .close {
        color: #fff;
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .logo {
        justify-content: start;
        margin: 0 0 10px 0;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .menu {
        >li {
            .link {
                display: flex;
                font-size: 16px;
                padding: 15px 10px;
                color: #333;
                a {
                    color: #333;
                }
                .arrow {
                    display: inline-block;
                    margin-left: auto;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-right: 2px solid rgba(0, 0, 0, 0.7);
                        border-bottom: 2px solid rgba(0, 0, 0, 0.7);
                        transform: rotate(45deg);
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid #eaeaea;
            }
            &.active {
                .arrow:after {
                    position: relative;
                    top: 5px;
                    transform: rotate(-135deg);
                }
                .sub-menu {
                    max-height: 500px;
                    transition: max-height .5s ease-in-out;
                }
            }
            .sub-menu {
                max-height: 0;
                transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
                overflow: hidden;
                li {
                    a {
                        font-size: 15px;
                        color: #333;
                        display: block;
                        padding: 10px 10px 10px 15px;
                    }
                }
            }
        }
    }
}

.wrap-search {
    margin-left: auto;
    position: relative;
    &:after {
        // content: "";
        // display: inline-block;
        // position: absolute;
        // right: 8px;
        // top: 50%;
        // transform: translateY(-50%);
        // background: url(../assets/images/icon-search.svg) no-repeat;
        // background-size: 100%;
        // width: 20px;
        // height: 20px;
        content: "\72";
        font-family: "font";
        color: #0e0e0e;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
    input {
        width: 250px;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-size: 14px;
    }
}

.wrap-cart {
    cursor: pointer;
    margin-left: 40px;
    display: flex;
    align-items: flex-end;
    .cart {
        position: relative;
        .quantity {
            position: absolute;
            top: -6px;
            right: -10px;
            line-height: 1;
            font-size: 11px;
            font-weight: 500;
            color: #333;
            background-color: #fdd835;
            padding: 4px 7px;
            border-radius: 50%;
        }
        span {
            display: flex;
            line-height: 1;
            font-size: 30px;
            color: #fff;
        }
    }
    .txt {
        margin-left: 10px;
        color: #fff;
        font-size: 13px;
    }
}

.total {
    font-size: 15px;
    margin-top: 20px;
    text-align: right;
    span {
        font-size: 16px;
        margin-left: 10px;
        font-weight: bold;
        color: #ee4d2d;
    }
}

.empty {
    font-size: 14px;
    text-align: center;
    .btn {
        display: block;
        margin: 15px auto 0 auto;
        padding: 10px 30px;
        font-size: 16px;
        color: #fff;
        background-color: #ee4d2d;
    }
}

.alert {
    text-align: center;
    .txt {
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .icon {
            img {
                width: 20px;
                margin-right: 4px;
            }
        }
    }
    .view-cart {
        background-color: #ff3945;
        border-radius: 4px;
        display: block;
        width: 100%;
        font-size: 14px;
        color: #fff;
        padding: 0.5rem;
    }
    .btn-close {
        position: absolute;
        color: #9b9b9b;
        font-size: 20px;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }
}

.suggestion-list {
    position: absolute;
    z-index: 10;
    top: 100%;
    width: 120%;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    li {
        a {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 6px 10px;
            color: #333;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #d0d0d0;
        }
        cursor: pointer;
        .img {
            max-width: 50px;
            margin-right: 20px;
        }
        .info {
            flex: 1;
            position: relative;
            .name {
                font-size: 13px;
                font-weight: normal;
                margin-bottom: 5px;
            }
            .price {
                font-size: 12px;
                font-weight: bold;
                text-align: left;
                margin-bottom: 0;
                small {
                    font-size: 11px;
                    font-weight: normal;
                    text-decoration: line-through;
                    margin-right: 5px;
                }
            }
            span {
                display: flex;
                align-items: center;
                font-size: 11px;
                color: #2f80ed;
                position: absolute;
                bottom: 5px;
                right: 5px;
                i {
                    display: flex;
                    margin-right: 3px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .toggle {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        div {
            width: 30px;
            height: 2px;
            background-color: #fff;
            margin: 6px 0;
        }
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .logo {
        display: flex;
        justify-content: center;
        flex: 1 1 0;
    }
    .wrap-cart {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 10px;
        position: relative;
    }
}

@media (min-width: 1200px) {
    .logo {
        margin-right: 80px;
        a {
            font-size: 20px;
        }
        span {
            img {
                width: 20px;
            }
        }
    }
    .wrap-cart {
        .cart {
            .quantity {
                font-size: 12px;
            }
            .img img {
                width: 30px;
            }
        }
    }
    .menu {
        display: flex;
        >li {
            position: relative;
            >a {
                color: #fff;
                display: inline-block;
                padding: 15px 20px;
                font-size: 16px;
                &:hover {
                    opacity: 0.7;
                }
            }
            &.active {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .sub-menu {
                background: #fff;
                position: absolute;
                z-index: 9;
                left: 0;
                top: 100%;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease;
                ul {
                    width: 300px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -10px;
                    padding: 10px 0;
                    li {
                        width: calc(100% * 1/3 - 10px);
                        margin-left: 10px;
                        padding: 4px 0;
                        text-align: center;
                        a {
                            color: #3d3d3d;
                            padding: 0 20px;
                            font-size: 14px;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}