.content {
    text-align: center;
    margin: 40px auto;
    .img {
        margin-bottom: 20px;
        max-width: 600px;
    }
    p {
        font-size: 40px;
        color: #30425B;
        margin-bottom: 20px;
    }
    a {
        color: #288ad6;
        font-size: 18px;
    }
}