* {
    min-width: 0;
    min-height: 0;
}

body {
    background-color: #f8f9fa;
}

.product-tab {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:hover {
            opacity: 0.7;
        }
        span {
            font-size: 12px;
            color: #333;
            text-align: center;
        }
        .img {
            border: 1px solid #e0e0e0;
            border-radius: 2px;
            padding: 4px;
            height: 52px;
            width: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            img {
                width: 100%;
            }
        }
        .icon {
            font-size: 24px;
            line-height: 1;
            color: #868686;
        }
        &.selected .img {
            border: 1px solid #f5c70c;
        }
    }
}

.wrap-name {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    .txt {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 14px;
        color: #2f80ed;
        cursor: pointer;
        span {
            display: flex;
            line-height: 1;
            margin-right: 4px;
        }
    }
}

.product-name {
    font-weight: 400;
    font-size: 20px;
    flex: 1;
}

.wrap-product-detail {
    margin-bottom: 40px;
    .wrap-product-img {
        // display: flex;
        // align-items: center;
        text-align: center;
        margin-bottom: 30px;
        outline: none !important;
        img {
            max-height: 434px;
        }
        &:hover {
            .arrow {
                opacity: 1;
            }
        }
        .tab {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            transition: opacity .5s ease-in-out;
            &.show {
                opacity: 1;
                visibility: visible;
                max-height: inherit;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .product-detail {
        flex: 1 1 0;
        .price {
            font-size: 18px;
            color: #e10c00;
            font-weight: bold;
            margin-bottom: 20px;
            small {
                font-weight: 400;
                margin-left: 10px;
                text-decoration: line-through;
                color: #767676;
            }
        }
    }
    .show-specs {
        width: 100%;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 10px;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #000000 transparent transparent transparent;
        }
    }
}

.arrow {
    background-color: rgba(255, 255, 255, .9);
    height: 60px;
    width: 30px;
    opacity: 0.4;
    z-index: 9;
    &:before {
        content: '' !important;
        display: inline-block;
        font-family: inherit;
        border-top: 3px solid #666;
        border-right: 3px solid #666;
        content: '';
        height: 20px;
        width: 20px;
        position: relative;
    }
    &.next {
        right: 0;
        &:before {
            right: 4px;
            transform: rotate(45deg);
        }
    }
    &.prev {
        left: 0;
        &:before {
            left: 4px;
            transform: rotate(-135deg);
        }
    }
}

.product-specs {
    width: 100%;
    margin-top: 30px;
    h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    ul li {
        font-size: 13px;
        display: flex;
        align-items: start;
        padding: 10px;
        &:nth-child(odd) {
            background-color: #f4f4f4;
        }
        .left {
            width: 25%;
            margin-right: 20px;
        }
    }
}

.list-variation {
    display: flex;
    margin-bottom: 10px;
    li {
        cursor: pointer;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        a,
        span {
            display: inline-block;
            font-size: 14px;
            color: #000;
            padding: 5px 10px;
        }
        &:not(:last-child) {
            margin-right: 5px;
        }
        &.selected {
            border-color: #2f80ed;
            color: #2f80ed;
            a,
            span {
                color: #2f80ed;
            }
        }
        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.cart-btn {
    width: 100%;
    border-radius: 4px;
    padding: 12px 40px;
    font-size: 14px;
    background-color: #f5c70c;
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #2f80ed;
    border-radius: 5px;
    color: #2f80ed;
    font-size: 14px;
    padding: 10px;
    &:after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent #2f80ed;
    }
}

.img-skeleton {
    width: 305px;
    height: 305px;
    margin: 0 auto;
}

.thumb-skeleton {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.title-skeleton {
    height: 35px;
    margin-bottom: 10px;
}

.price-skeleton {
    height: 20px;
    margin-bottom: 20px;
}

.button-skeleton {
    height: 40px;
    margin-bottom: 30px;
}

.alert {
    text-align: center;
    .icon {
        display: block;
        margin-bottom: 20px;
        img {
            width: 70px;
        }
    }
}

.wrap-info-modal {
    // height: 100vh;
    display: flex;
    height: 100%;
    .fixed-tab {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 10px;
        ul {
            display: flex;
            justify-content: center;
            li {
                font-size: 15px;
                padding: 12px 20px;
                cursor: pointer;
                color: #333;
                &.selected {
                    border-bottom: 4px solid #2d9cdb;
                    color: #2d9cdb;
                    font-weight: bold;
                }
            }
        }
    }
    >.item {
        &:last-child {
            padding-bottom: 50px;
        }
    }
    .specs {
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        background-color: #eee;
    }
    .list {
        li {
            display: flex;
            font-size: 13px;
            padding: 10px;
            &:not(:last-child) {
                border-bottom: 1px solid #f1f1f1;
            }
            .lbl {
                font-weight: bold;
                width: 30%;
                margin-right: 30px;
            }
            .info {
                flex: 1;
                span {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    color: #4a90e2;
                    &:before {
                        content: "";
                        display: inline-block;
                        margin-right: 5px;
                        border-radius: 50%;
                        background-color: #b7b7b7;
                        height: 4px;
                        width: 4px;
                    }
                }
            }
        }
    }
}

#thong-so {
    width: 70%;
    margin: 0 auto;
}

.infoModal {
    width: 60%;
    height: 100%;
    top: 0;
    left: calc(100% * 1/2 - 30%);
    border-radius: 0;
    overflow-y: auto;
    padding-top: 100px;
}

.reviewModal {
    width: 40%;
    left: calc(100% * 1/2 - 20%);
}

.modal-tab {
    display: none;
    width: 100%;
    &.show {
        display: block;
    }
    .desc {
        font-size: 16px;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.4;
    }
}

.close-specs {
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 10px 7px 25px;
    &:before,
    &:after {
        content: "";
        background-color: #333;
        left: 13px;
        height: 14px;
        position: absolute;
        top: 9px;
        width: 1px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrap-reviews {
    margin-top: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px 20px 30px 20px;
    h5 {
        margin-bottom: 25px;
        font-size: 18px;
    }
    .rating-overview {
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .rating-list {
            width: 40%;
            li {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 5px;
                .star {
                    display: flex;
                    align-items: baseline;
                    font-size: 13px;
                    margin-right: 10px;
                    i {
                        display: flex;
                        font-size: 10px;
                    }
                }
                .timeline-star {
                    flex: 1;
                    margin-right: 10px;
                    background-color: #eee;
                    height: 6px;
                    p {
                        background-color: #ffd641;
                        height: 100%;
                    }
                }
                .percent {
                    color: #2f80ed;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
    .list-review {
        margin-bottom: 30px;
        li {
            border-bottom: 1px solid #f1f1f1;
            padding: 15px 0;
            strong {
                display: block;
                font-size: 15px;
                margin-bottom: 10px;
            }
            .rating {
                margin-bottom: 10px;
                i {
                    font-style: normal;
                    font-size: 14px;
                    color: #ffd641;
                    &:not(:last-child) {
                        margin-right: 2px;
                    }
                    &.black {
                        color: #999;
                    }
                }
            }
            .comment {
                font-size: 14px;
            }
        }
    }
    .empty {
        margin-bottom: 50px;
        font-size: 15px;
    }
    .wrap-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            line-height: 1;
            display: inline-block;
            width: 45%;
            border-radius: 4px;
            padding: 10px;
            font-size: 15px;
            text-align: center;
            &.write-review {
                background-color: #2f80ed;
                color: #fff;
            }
            &.show-reviews {
                border: 1px solid #2f80ed;
                color: #2f80ed;
            }
        }
    }
}

.wrap-review-modal {
    h5 {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .wrap-ratings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        p {
            font-size: 14px;
        }
        .ratings {
            ul {
                display: flex;
                margin-left: -10px;
                li {
                    cursor: pointer;
                    padding: 0 10px;
                    .inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        color: #ffd641;
                        position: relative;
                        z-index: 2;
                    }
                    .border {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        color: #fff;
                    }
                    &.hovered,
                    &.selected {
                        .border {
                            color: #ffd641;
                        }
                    }
                }
            }
        }
    }
    .input {
        appearance: none;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        line-height: 1;
        color: #666;
        padding: 10px;
        font-size: 14px;
    }
    .wrap-ip {
        display: flex;
        margin-bottom: 20px;
        .input {
            flex: 1;
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    textarea {
        width: 100%;
        resize: none;
        margin-bottom: 10px;
    }
    .send {
        display: block;
        margin: 40px auto 0 auto;
        padding: 10px;
        background-color: #2f80ed;
        border-radius: 4px;
        width: 50%;
        font-size: 15px;
        color: #fff;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        .upload {
            display: flex;
            align-items: center;
            color: #2f80ed;
            cursor: pointer;
            font-size: 14px;
            input {
                display: none;
            }
            i {
                font-size: 16px;
                margin-right: 2px;
            }
        }
        .characters {
            font-size: 13px;
            margin-left: auto;
        }
        .list-img {
            display: flex;
            width: 100%;
            padding: 10px;
            background-color: #efefef;
            li {
                background-color: #fff;
                padding: 5px;
                border-radius: 4px;
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                    margin-bottom: 8px;
                }
                &:not(:last-child) {
                    margin-right: 5px;
                }
                span {
                    font-size: 11px;
                    cursor: pointer;
                    text-align: center;
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .wrap-product-detail {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 80px;
        .left {
            width: calc(100% - 490px);
            margin: 0 30px 0 0;
        }
    }
    .img-skeleton {
        width: 100%;
        height: 370px;
    }
}