.wrap-profile {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 200px 0;
}

.wrap-profile-content {
    flex: 1;
    h3 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .content {
        border-radius: 6px;
        background-color: #fff;
        padding: 30px;
    }
}

.wrap-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 15px;
    .avatar {
        display: flex;
        align-items: center;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        i {
            display: flex;
            font-size: 24px;
            color: #9b9b9b;
        }
        span {
            display: flex;
            font-size: 20px;
            color: #9b9b9b;
        }
    }
    .username {
        font-size: 16px;
    }
}

aside {
    width: 250px;
    margin-right: 20px;
    .account-nav {
        li {
            a {
                display: flex;
                align-items: center;
                padding: 10px 16px;
                font-size: 14px;
                color: #4a4a4a;
                i {
                    display: flex;
                    margin-right: 20px;
                    color: #9b9b9b;
                    font-size: 18px;
                }
            }
            &.active,
            &:hover {
                a {
                    background-color: #ebebf0;
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    >.left {}
    >.right {
        flex: 1;
        margin-left: 40px;
        padding-left: 40px;
        padding-top: 30px;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            height: 200px;
            width: 1px;
            background-color: #ccc;
        }
        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
            i {
                display: flex;
                color: #9b9b9b;
                font-size: 70px;
            }
            .remove-img {
                position: absolute;
                top: 0px;
                right: -10px;
                font-size: 18px;
                color: #64646d;
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #fff;
                border: 1px solid #e4e4e4;
            }
        }
        .choose-avatar {
            text-align: center;
            margin-top: 20px;
            label {
                font-size: 16px;
                border: 1px solid #c4c4cf;
                cursor: pointer;
                padding: 8px 20px;
            }
            input {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
        }
    }
}

.new-address {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px dashed #d8d8d8;
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    color: #0b74e5;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    span {
        color: #787878;
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }
}

.list-address {
    li {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
        .wrap-address {
            display: flex;
            justify-content: space-between;
            .info {
                p {
                    font-size: 14px;
                    margin-bottom: 5px;
                    span {
                        color: #787878;
                    }
                }
                .name {
                    text-transform: uppercase;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    span {
                        color: #26bc4e;
                        display: flex;
                        align-items: center;
                        font-size: 11px;
                        margin-left: 20px;
                        i {
                            line-height: 1;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .action {
                button {
                    font-size: 13px;
                    appearance: none;
                    background: transparent;
                    &.edit {
                        color: #1ba8ff;
                    }
                    &.remove {
                        color: #ff424e;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.form-address {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    .wrap-ip {
        flex: none;
        width: 50%;
        input,
        select,
        textarea {
            width: 100%;
        }
        textarea {
            resize: none;
            border: 1px solid #c4c4cf;
            border-radius: 4px;
            padding: 8px 12px;
            font-size: 15px;
        }
    }
    button {
        border-radius: 4px;
        font-size: 15px;
        padding: 8px 30px;
    }
    .back {
        background-color: #ccc;
        margin-right: 10px;
    }
    .update {
        background-color: #fdd835;
    }
}

.group {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    h4 {
        color: #64646d;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .item {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #f8f8f8;
        }
        .left {
            display: flex;
            align-items: center;
            i {
                margin-right: 10px;
                font-size: 18px;
            }
            img {
                margin-right: 10px;
                max-width: 24px;
            }
            span {
                font-size: 15px;
            }
        }
        .update {
            appearance: none;
            align-self: center;
            font-size: 15px;
            border-radius: 4px;
            cursor: pointer;
            padding: 5px 12px;
            color: #182e6e;
            border: 1px solid #182e6e;
            background-color: #fff;
            &.active {
                background-color: #dbeeff;
                pointer-events: none;
            }
        }
    }
}

.input-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    label {
        font-size: 15px;
        min-width: 110px;
        margin-right: 20px;
    }
}

.wrap-ip {
    flex: 1;
    input {
        width: 300px;
        &:disabled {
            background-color: #ccc;
            cursor: no-drop;
        }
    }
    input,
    select,
    textarea {
        border: 1px solid #c4c4cf;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 15px;
        &:focus {
            box-shadow: 0px 0px 5px 1px rgba(71, 71, 71, 0.2)
        }
        &.invalid {
            border-color: red;
        }
    }
    select:not(:last-child) {
        margin-right: 10px;
    }
}

.save {
    font-size: 15px;
    color: #fff;
    background-color: #182e6e;
    padding: 8px 30px;
    margin-top: 30px;
    border-radius: 4px;
    margin-left: 130px;
}

.list-reviews {
    li {
        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f1f1f1;
        }
        .overview {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .rating {
                i {
                    font-style: normal;
                    font-size: 14px;
                    color: #fe8c23;
                    &:not(:last-child) {
                        margin-right: 2px;
                    }
                    &.black {
                        color: #999;
                    }
                }
            }
            .time {
                font-size: 12px;
                color: #999;
                margin-left: auto;
            }
        }
        .comment {
            font-size: 14px;
            line-height: 1.4;
            word-break: break-word;
        }
    }
}

.list-fav {
    background-color: #f8f9fa;
    li {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 2px;
        border-radius: 2px;
        padding: 20px 70px 20px 15px;
        background-color: #fff;
        .img {
            max-width: 80px;
            margin-right: 20px;
        }
        .name {
            color: #333;
            font-weight: normal;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
        .wrap-review{
            display: flex;
            align-items: center;
        }
        .txt {
            font-size: 13px;
            line-height: 1;
            color: #808089;
            margin-left: 10px;
        }
        .info {
            flex: 1 1 0%;
        }
        .price {
            font-weight: bold;
            font-size: 17px;
        }
        .wrap-price{
            color: #ff424e;
            text-align: right;
            .wrap-sub-price{         
                display: flex;
                align-items: center;
                margin-top: 10px;      
                .sub-price{
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    color: #808089;
                    text-decoration: line-through;
                    &:after{
                        content: '';
                        display: inline-block;
                        margin-right: 15px;
                        padding-right: 15px;
                        border-right: 1px solid #808089;
                        width: 0;
                        height: 14px;
                        margin-right: 10px;
                        padding-right: 10px;
                    }
                }
                .discount{
                    font-size: 11px;
                    line-height: 1;
                    padding: 0 2px;
                    border: 1px solid #ff424e;
                    border-radius: 2px;
                    background-color: #fff0f1;
                    color: #ff424e;
                }
            }
        }
        .remove-fav {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: -10px;
            width: 40px;
            height: 40px;
            padding: 0px;
            color: #999;
            font-size: 30px;
        }
    }
}

.list-star {
    display: flex;
    align-items: center;
    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #fe8c23;
        position: relative;
        z-index: 2;
        &.selected {
            .border {
                color: #fe8c23;
            }
        }
        &.none{
            color: #DEDDDC;
        }
    }
    .border {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px;
        color: #fff;
    }
}

// Custom checkbox
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid #c4c4cf;
    &:after {
        content: '';
        position: absolute;
        display: none;
    }
}

.checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox input:checked~.checkmark {
    background-color: #182e6e;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}