.wrap-profile{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 200px 0;
}

.wrap-profile-content{
    flex: 1;
    max-width: 800px;
    h3{
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .content{
        border-radius: 6px;
        background-color: #fff;
        padding: 30px;
    }
}

.wrap-avatar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 15px;
    .avatar{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        i{            
            display: flex;
            font-size: 24px;
            color: #9b9b9b;
        }
        span{
            display: flex;
            font-size: 20px;
            color: #9b9b9b;
        }
    }
    .username{
        font-size: 16px;
    }
}

aside{
    width: 250px;
    margin-right: 20px;
    .account-nav{
        li{
            a{
                display: flex;
                align-items: center;
                padding: 10px 16px;
                font-size: 14px;
                color: #4a4a4a;
                i{
                    display: flex;
                    margin-right: 20px;
                    color: #9b9b9b;
                    font-size: 18px;
                }
            }
            &.active,
            &:hover{
                a{
                    background-color: #ebebf0;
                }
            }
        }
       
    }
}

.group{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    h4{
        color: #64646d;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .item{
        display: flex;
        justify-content: space-between;
        padding-right: 320px;
        &:not(:last-child){
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #f8f8f8;
        }
        .left{
            display: flex;
            align-items: center;
            i{
                margin-right: 10px;
                font-size: 18px;
            }
            img{
                margin-right: 10px;
                max-width: 24px;
            }
            span{
                font-size: 15px;
            }
        }
        .update{
            appearance: none;
            align-self: center;
            font-size: 15px;
            border-radius: 4px;
            cursor: pointer;
            padding: 5px 12px;
            color: #182e6e;
            border: 1px solid #182e6e;
            background-color: #fff;
            &.active{
                background-color: #dbeeff;
                pointer-events: none;
            }
        }
    }
}

.input-group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    label{
        font-size: 15px;
        min-width: 110px;
        margin-right: 20px;
    }
}

.wrap-ip{
    flex: 1;
    input{
        width: 300px;
        &:disabled{
            background-color: #ccc;
            cursor: no-drop;
        }
    }
    input, select{
        border: 1px solid #c4c4cf;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 15px;
        &:focus{
            box-shadow: 0px 0px 5px 1px rgba(71, 71, 71, 0.2)
        }
    }
    select:not(:last-child){
        margin-right: 10px;
    }
}

.save{
    font-size: 15px;
    color: #fff;
    background-color: #182e6e;
    padding: 8px 30px;
    margin-top: 30px;
    border-radius: 4px;
    margin-left: 130px;
}

.list-reviews{
    li{
        &:not(:last-child){
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f1f1f1;
        }
        .overview{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .rating {
                i {
                    font-style: normal;
                    font-size: 14px;
                    color: #fe8c23;
                    &:not(:last-child) {
                        margin-right: 2px;
                    }
                    &.black {
                        color: #999;
                    }
                }
            }
            .time{
                font-size: 12px;
                color: #999;
                margin-left: auto;
            }
        }
        .comment{
            font-size: 14px;
            line-height: 1.4;
            word-break: break-word;
        }
    }
}