* {
    min-height: 0;
    min-width: 0;
}

.nav-slick {
    margin-top: -4px;
    .slick-current {
        position: relative;
        font-weight: 500;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: #fed100;
        }
    }
}

// .slick-disabled {
//     opacity: 0 !important;
// }
.nav-slides .slick-list {
    margin: 0 -5px;
}

.nav-slides .slick-slide {
    cursor: pointer;
    margin: 0 5px;
}

.slick-slide img {
    margin: auto;
}

.nav-slides .slick-track {
    display: flex;
}

.slick-no-slide .slick-track {
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    text-align: center;
}

.slick-no-slide .slick-slide {
    float: none;
    display: inline-block;
}

.nav-slides .slick-slide {
    border: 2px transparent;
}

.nav-slides .slick-current {
    border: 2px solid #2d9cdb;
}