@import './OrderDetail.module.scss';

.wrap-tracking{
    margin: 50px 0;
    .banner{
        position: relative;
        margin-bottom: 30px;
        .content{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    h3{
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #fff;
    }
    .search-order{
        text-align: center;
        .search-ip{
            width: 300px;
            border: 1px solid #ccc;
            padding: 0.6rem 1rem;
            border-radius: 4px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .btn-tracking{
            padding: 0.6rem 1rem;
            font-size: 16px;
            border-radius: 4px;
            color: #fff;
            background-color: #182f70;
        }
    }
}



// Order detail
.product-list{
    margin: 100px 0;
}

@media (min-width: 768px) {
    .wrap-tracking{
        h3{
            font-size: 40px;
        }
        .search-order{
            display: flex;
            align-items: center;
            justify-content: center;
            .search-ip{
                margin: 0 10px 0;
            }
        }
    }
}