.filter {
    display: flex;
    align-items: center;
    .icon {
        margin-right: 10px;
        img {
            width: 20px;
        }
    }
}

.filter-item {
    position: relative;
    &:not(:last-child) {
        margin-right: 10px;
    }
    .name {
        font-size: 13px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 10px;
        text-align: center;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            margin-left: 5px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #333;
            height: 0;
            width: 0;
        }
    }
}

.filter-show {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    width: max-content;
    min-width: 200px;
    white-space: normal;
    z-index: 3;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    &:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: #fff;
        transform: rotate(45deg);
        top: -6px;
        right: 18px;
        box-shadow: -2px -2px 5px -4px;
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    li {
        margin-right: 5px;
        margin-bottom: 5px;
        &:hover a {
            border-color: #ee4d2d;
        }
        &.active a {
            border-color: #ee4d2d;
        }
        a {
            color: #000;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 9px;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
        }
    }
}

.list-img {
    max-width: 315px;
    li {
        a {
            img {
                max-width: 80px;
            }
        }
    }
}